/MovileGame/UpgradeLog.htm
/MovileGame/Library
/MovileGame/.vs
/MovileGame/MovileGame.csproj
/MovileGame/MovileGame.sln
/Build
/MovileGame/Assembly-CSharp.csproj
/MovileGame/MovileGame.userprefs
/MovileGame/Temp/UnityVS_obj/Debug
